*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

.slide {
  min-height:528px;
  padding: 20px 0;
}

#highlights {
  width: 100%;
  background-image: url(../../img/epk/bg-1.jpg);
  background-position: 50% 0px;
  min-height:728px;
}
#bio {
  width: 100%;
  background-image: url(../../img/epk/bg-2.jpg);
  background-position: 50% 0px;
  padding: 5% 0;

}
#album {
  width: 100%;
  background-image: url(../../img/epk/bg-3.jpg);
  background-position: 50% 0px;
}
